@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    font-family: 'Satisfy', sans-serif;
    color:rgb(9, 53, 9);
    font-size: 140px;
    text-shadow: 2px 2px 5px rgb(54, 117, 88);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1A8F46;
    background-image: url("fondo3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 600px;
    height: 60px;
    background-color: white;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: rgb(2, 63, 2);
    overflow: hidden;
}

.search .icon {
    position: relative;
    top:0;
    left: 0px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #1A8F46;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #1A8F46;
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
    position: absolute;
    padding: 0;
    width: 500px;
    height: 60px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{
    position: absolute;
    padding: 0%;
    width: 400px;
    height: 100%;
    border:none;
    outline: none;
    font-size: 30px;
    font-family: 'Amatic SC', sans-serif;
    align-items: center;
    justify-content:flex-start;
    z-index: 20;
}

.clear {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    background:white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}

.modal-header h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.modal-body {
    height: 300px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 27px;
    font-weight: bolder;
}

.modal-body ul{
    list-style: none;
}